APP_ORIGIN=http://localhost:6769
# Generate BETTER_AUTH_SECRET with at least 32 random characters, for example:
# openssl rand -base64 32
BETTER_AUTH_SECRET=random-generated-value
# Create an OAuth app here https://github.com/settings/developers
GITHUB_CLIENT_ID=client-id
GITHUB_CLIENT_SECRET=client-secret
